<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="eba_canliders_bot_v2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <eba_canliders_bot_v2.Properties.Settings>
            <setting name="IdNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="IsShowId" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsShowPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDataProtectionMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsRememberMeMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IWebFirefox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IWebChrome" serializeAs="String">
                <value>False</value>
            </setting>
        </eba_canliders_bot_v2.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.13.0.0" newVersion="106.13.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>